## .NET / Visual Studio
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml
TestResults/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
.nuget/

## Rider
.idea/

## OS
.DS_Store
Thumbs.db

## SQLite demo artifacts
*.db
